
<Jumbo>
    <h2>Welcome to Only Spans!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    <LinkTo @route='about' class='button'>About Us</LinkTo>
    <LinkTo @route='tester' class='button'>Tester</LinkTo>
</Jumbo>

<div class="rentals">
    <ul class="results">
        <li><Rental /></li>
        <li><Rental /></li>
        <li><Rental /></li>
    </ul>
</div>
